html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body{
	margin: 0;
  
    padding: 0;
}
a{
    text-decoration: none;
}
img {
	display: inline-block;
	border: 0;
	width: 100px;
	height: auto;
    margin-left: 40px;
}
/*-----------------------*/
header{
    box-sizing: border-box;
    border-bottom:;
    background: ;
    box-shadow: 0px 5px 8px #888888;
    align-items: center;
}
.log{
    display: inline-block;
}
.logo{
    display: inline-block;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-container h1{
    display: inline-block;
    margin: 0;
    margin-left: 20px;
    font-family: 'Bungee Shade';
    color: dodgerblue;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav li{
    display:inline-block; 
    margin-top: 20px;
    text-transform: uppercase;
    font-family: Abril Fatface;
}
nav a{
    padding: 20px;
    margin: 10px 0;
    color: dodgerblue;
}
nav{
    display: inline-block;
    float: right;
}
nav a:hover{
    background:dodgerblue ;
}
nav a:hover{
    color: white;
}
footer{
    box-shadow: 0px -2px 3px #888888;
    text-align: center;
}
footer p{
    padding:20px;
}
/*------------------------*/
.box-grid{
    margin-top: 60px;
    margin-bottom: 30px;
    margin-right: 30px;
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:3em;
}
.box-grid button{
    border: 2px solid;
    height: 150px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 5px 8px #888888;
}
/*contact styling------------*/
input[type=text],input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: dodgerblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: dodgerblue;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}